
@{
    ViewData["Title"] = "Index";
}

<div class="sync-process-box">
    <!--<a href="#" data-toggle="tooltip" title="Click the sync icon below to start the process">info</a>-->
    <div class="fa-8x faa-container faa-click" data-toggle="tooltip" title="Click HERE to start the migration">
        <i class="fas fa-sync"></i>
    </div>
</div>

