
@{
    ViewData["Title"] = "Index";
}

<div class="fa-settings">
    <i class="fa fa-cog" aria-hidden="true"></i>
</div>

<div class="sync-process-box">
    <!--<a href="#" data-toggle="tooltip" title="Click the sync icon below to start the process">info</a>-->
    <div class="fa-8x faa-container faa-click" data-toggle="tooltip" title="Click HERE to start the migration">
        <i class="fas fa-sync"></i>
    </div>
</div>

<div class="modal" style="display: none;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Migration Settings</h5>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Select Customs</p>
                <form class="customs-form">
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="customsSelect">
                            <option selected>Choose</option>
                            <option id="shs" value="steigerhout">Steigerhouthuis Customs</option>
                        </select>
                    </div>
                    <div class="col-auto my-2">
                        <input type="checkbox" id="bundled" name="bundled"/>
                        <label for="bundled">Bundled</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary modal-save">Save</button>
                <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

