
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form id="afosto-form" asp-action="Index" asp-controller="Test" method="post">
    <div class="client-secret">
        Key:
        <input type="password" name="ClientId" /><br />
    </div>
    <div class="client-id">
        Secret:
        <input type="password" name="ClientSecret" /><br />
    </div>
    <button class="afosto-submit" type="button">Submit</button>
</form>
