@{
    ViewData["Title"] = "Home Page";
}

    <div class="main-div">
        @if (!User.Identity.IsAuthenticated)
        {
        <div class="card-body center-block">
            <div class="login-vs-password">
                <span class="login-span">Login</span>
                <span class="register-span">Register</span>
            </div>

            <div class="partialView-body"></div>
        </div>
        }
        else
        {
        <div class="card-body center-block">
            <div class="access-form-wrapper">
                <form id="woo-form" method="post">
                    <div class="client-secret">
                        Key:
                        <input name="ClientKey" /><br />
                    </div>
                    <div class="client-id">
                        Secret:
                        <input name="ClientSecret" /><br />
                    </div>
                    <div class="redirect-url">
                        Url:
                        <input name="CallbackUrl" /><br />
                    </div>
                    <button class="woo-submit" type="button">Submit</button>
                </form>
            </div>
        </div>
        }
    </div>