@{
    ViewData["Title"] = "Home Page";
}

    <div class="main-div">
        @if (!User.Identity.IsAuthenticated)
        {
        <div class="card-body center-block">
            <div class="login-vs-password">
                <span class="login-span">Login</span>
                <span class="register-span">Register</span>
            </div>

            <div class="partialView-body">
                @await Html.PartialAsync("_LoginFormPartial")
            </div>
        </div>
        }
        else
        {
        <div class="card-body center-block container">
            @await Html.PartialAsync("_AfostoForm")
        </div>
        }
    </div>