@{
    ViewData["Title"] = "Home Page";
}

    <div class="main-div">
        @if (!User.Identity.IsAuthenticated)
        {
        <div class="card-body center-block">
            <div class="login-vs-password">
                <span class="login-span">Login</span>
                <span class="register-span">Register</span>
            </div>

            <div class="partialView-body">
                @await Html.PartialAsync("_LoginFormPartial")
            </div>
        </div>
        }
        else
        {
        <div class="card-body center-block container">
            <div class="row" style="margin: 0px 50px;">
                <div class="col">
                    @await Html.PartialAsync("_WooForm")
                </div>

                <div class="fa-10x faa-container">
                    <i class="fas fa-sync fa-spin"></i>
                </div>

                <div class="col">
                    @await Html.PartialAsync("_AfostoForm")
                </div>
            </div>
        </div>
        }
    </div>