
    <form class="afosto-form" method="post">
        <div class="form-name">
            Name:
            <input type="text" name="Name" /><br />
        </div>
        <div class="client-secret">
            Key:
            <input type="password" name="AfostoClientId" /><br />
        </div>
        <div class="client-id">
            Secret:
            <input type="password" name="AfostoClientSecret" /><br />
        </div>
    </form>
