
    <div class="afosto-logo-container">
        <img class="afosto-logo" src="~/Images/afosto.png" alt="Afosto Logo" width="110px;" />
    </div>

    <div class="row" style="display: grid; margin: 0px 50px;">
        <div class="col form-input">
            <form class="afosto-form" method="post">
                <div class="form-name">
                    Name:
                    <input type="text" name="Name" /><br />
                </div>
                <div class="client-secret">
                    Key:
                    <input type="password" name="AfostoClientId" /><br />
                </div>
                <div class="client-id">
                    Secret:
                    <input type="password" name="AfostoClientSecret" /><br />
                </div>
            </form>
        </div>

        <div class="button-box">
            <button type="submit" class="form-authorize">Authorize</button>
        </div>
    </div>
