@model TPMApi.Models.RegisterModelPoco

    <form class="register-form" asp-controller="Register" asp-action="OnRegister" method="post">
        <div class="main_login">
            Email:
            <input asp-for="Email" /> <br />
        </div>
        <div class="main_password">
            Password:
            <input asp-for="Password" /> <br />
        </div>
        <div class="main_password">
            Confirm Password:
            <input asp-for="ConfirmPassword" /> <br />
        </div>
        <button class="main_submit btn-danger" type="submit">Register</button>
    </form>
