@model TPMApi.Models.LoginPoco

<form class="login_form" asp-controller="Account" asp-action="Login" method="post">
    <div class="main_login">
        Email:
        <input asp-for="Email" /> <br />
    </div>
</form>
