<form id="woo-form" method="post">
    <div class="client-secret">
        Key:
        <input name="ClientKey" /><br />
    </div>
    <div class="client-id">
        Secret:
        <input name="ClientSecret" /><br />
    </div>
    <div class="redirect-url">
        Url:
        <input name="CallbackUrl" /><br />
    </div>
    <button class="woo-submit" type="button">Submit</button>
</form>