
    <div class="client-secret">
        Key:
        <input type="password" name="WooClientId" /><br />
    </div>
    <div class="client-id">
        Secret:
        <input type="password" name="WooClientSecret" /><br />
    </div>
    <button class="woo-submit" type="button">Submit</button>