<form id="woo-form" method="post">
    <div class="client-secret">
        Key:
        <input type="password" name="ClientKey" /><br />
    </div>
    <div class="client-id">
        Secret:
        <input type="password" name="ClientSecret" /><br />
    </div>
    <button class="woo-submit" type="button">Submit</button>
</form>