
    <div class="client-id">
        Key:
        <input type="password" name="WooClientId" /><br />
    </div>
    <div class="client-secret">
        Secret:
        <input type="password" name="WooClientSecret" /><br />
    </div>